* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham;
    font-weight: normal;
}

body, html{
    height: 100%;
    font-size: 16px;
}

@font-face{
    font-family: Gotham;
    src: url(../fonts/Gotham.woff)
}

/*conteudo*/

body{
    background-image: url('../images/bg.PNG');
    background-color: #f3f3f3;
    background-size: 100% 190%;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

main{
    width: 75%;
    margin: 20px 0px 20px 7%;
    background-color: #ffffff;
    border-radius: 30px;
}

.logo-top{
    margin: 30px;
}

.cora-video{
    opacity: 0.9;
}

.visita-mob{
    width: 100%;
    height: auto;
    background-image: url('../images/bg_vis_mob.PNG');
    color: white;
    font-size: 1.4em;
    padding: 40px;
    text-align: center;
    display: none;
}

.visita{
    background-color: #005b6b;
    margin-top: -5px; 
    color: rgba(255,255,255, 0.7);
    text-align: center;
    padding: 60px;
}

.text-visita{
    display: inline-block; 
    text-align: left;
}

.text-visita span{
    font-size: 1.1em;
}

.pode{
    margin: 7% 14%;
    color: #005b6b;
    font-size: 1.2em;
}

.divisor{
    margin-top: 3%;
    border-color: rgb(80,88,87, 0.1);
}

.img-s2{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.img-s2 img{
    display: inline-block;
    margin: 3%;
    width: 26%;
}

.listas-sessao{
    margin-top: 4%;
    font-size: 0.8em;
    color: #7da6ae;
}

.listas-sessao ul{
    list-style-position: inside;
    width: 30%;
    padding: 3%;
    display: inline-block;
    position: relative;
}

.listas-sessao ul li{
    padding: 0.4em;
    width: 200px;
}

.item-lista{
    display: inline-block;
    width: 30%;
    min-width: 200px;
    padding-left: -15px;
}

.sep{
    position: relative;
    top: -31px;
}

.sep li{
    white-space: nowrap;
}

.last{
    margin-top: 4em;
    margin-bottom: 2em;
}

.mais{
    color: #cc922d;
    padding-bottom: 16%;
}

.mais p{
    margin-top: 3%;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #797979;
}

b{
    color: #474747;
}

.contato{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 28%;
    background-color: #f8c242;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5% 0 5% 4%;
    text-transform: uppercase;
}

.formulario{
    color: #2b2b2b;
}

.formulario p{
    font-size: 1.1em;
}

.form{
    width: 100%;
    max-width: 230px;
    margin-top: 10%;
    font-size: 0.7em;
}

.form input{
    width: 100%;
    border: 0px;
    margin: 1% 0 10% 0;
    height: 30px;
    border-radius: 5px;
    padding: 2%;
}

.form select{
    width: 100%;
    border: 0px;
    margin: 1% 0 10% 0;
    height: 30px;
    border-radius: 5px; 
    color: #727272;
    padding: 2%;
}

.form input[type="button"]{
    background-color: #255cbb;
    color: white;
    height: 40px;
}

.form p{
    margin-top: -15px;
    font-size: 0.6em;
    white-space: nowrap;
    color: #bb8911;
}

.fim-pagina{
    width: 80%;
    margin: 0 auto;
    padding: 0% 3% 3% 3%;
}

.fim-pagina img{
    width: 45%;
}

/* responsividade */

@media screen and (max-width: 840px){
    main{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .logo-top{
        position: relative;
        left: 50%;
        transform: translateX(-55%);
        width: 70%;
    }

    .contato{
        position: static;
        top: 0;
        transform: translateY(0);
        right: 0;
        padding: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-transform: uppercase;
        margin-top: -5px;
        text-align: center;
        padding-bottom: 30px;
    }

    .form{
        width: 80%;
        max-width: 100%;
        margin-top: 6%;
        font-size: 0.9em;
        display: inline-block;
        text-align: left;
    }

    .formulario p{
        display: inline-block;
        position: relative;
        top: 10px;
    }

    .form input{
        height: 40px;
        margin: 1% 0 5% 0;
    }

    .form select{
        height: 40px;
        margin: 1% 0 5% 0;
    }
    
    .form p{
        font-size: 0.7em;
    }

    .text-final{
        text-align: center;
    }

    .visita{
        display: none;
    }

    .visita-mob{
        display: block;
    }
}